@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.chart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 16px;
  height: 100%;

  &__middle {
    @include flex;
    gap: 4px;
    height: 100%;
  }

  &__label {
    width: 59px;
    font-size: 12px;
    text-wrap: pretty;
    text-align: center;
    letter-spacing: 0%;
    font-weight: 500;
  }

  &__rows-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2px;
    flex-grow: 1;
    position: relative;
    &__bar-background {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      z-index: 0;

      div {
        width: 1px;
        height: 100%;
        background: repeating-linear-gradient(
          #00001a26 0 3px,
          transparent 3px 6px
        );
        align-self: flex-start;
      }
      div:last-child {
        background-color: black;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      gap: 12px;

      &__bar-wrapper {
        position: relative;
        flex: 1;
        min-height: 40px;
      }

      &__bar-container {
        position: relative;
        z-index: 1;
        height: 100%;
        overflow: hidden;
        direction: ltr;

        &__bar {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: end;
          transition: background-color 0.3s ease;

          background-color: rgba(
            var(--bar-color-rgb),
            0.5
          );

          &:hover {
            background-color: rgb(var(--bar-color-rgb));
            cursor: pointer;
          }

          &__value {
            font-size: 14px;
            color: #000000b2;

            &--outside {
              position: absolute;
              right: -40px;
              color: #000;
            }
          }

          &__line {
            width: 3px;
            height: 100%;
            margin-left: 8px;
            background-color: rgb(
              var(--bar-color-rgb)
            ); 
          }
        }
      }
    }
  }
  &__ticks {
    direction: ltr;
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
    font-size: 12px;
    color: #555;

    &__tick {
      transform: translateX(-50%);
    }
  }
  &__legend-container {
    @include flex;
    gap: 16px;
    padding: 6px;

    &__item {
      @include flex;
      gap: 4px;
      span {
        height: 8px;
        width: 8px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
