@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.home-container {
  @include col;
  gap: 24px;

  &__title {
    font-weight: 700;
    font-size: 18px;
    @include flex;
    gap: 6px;
    margin-bottom: 32px;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 42px;
  }

  &__charts-container {
    @include flex;
    justify-content: space-between;
    height: 372px;
    &__bar-chart {
      @include section;
      width: 502px;
      height: 100%;
    }
    &__line-chart {
      @include section;
      width: 594px;
      height: 100%;
    }
  }

  &__products-card {
    border: 1px solid $primary-very-light;
    padding: 24px;
    @include col;
    gap: 24px;
    border-radius: 16px;

    &__title {
      @include flex;
      width: 100%;
      gap: 8px;
      font-size: 18px;
      font-weight: 700;
      color: $text;

      &__more {
        cursor: pointer;
        margin-right: auto
      }
    }
    &__row {
      @include flex;
      gap: 30px;
    }
  }
}
